

body {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    display: grid;
    grid-template: max(100vh,865px) / max(100vw,1512px);
    margin: 0;
}

/* .sidebar {
    background-color: #DCD2CC;
    grid-area: 1 / 1 / 2 / 2;
}

.dashboard-svg { 
    height: max(6vh, 52px);
    width: max(6vw, 91px);
} */

.main {
    background-color: white;
    display: grid;
    grid-template: 10% 90% / 100%;
}

.header {
    background-color: rgb(220, 217, 217);
    box-shadow: 5px 5px 10px 0px #ced3da;
    z-index: 1; 
    display: grid;
    grid-template: 100% / 80% 20%;
    align-items: center;
}

.library-title {
    /* font-weight: bold; */
    font-size: 30px;
    display: flex;
    padding-left: 50px;
}

button {
    width: 60%;
    height: 50%;
    background-color: #85D2D0;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.books-container {
    background-color: white;
    display: grid;
    grid-template: 50% 50% / repeat(5, 20%);
    align-items: center;
    padding-left: 50px;
}

.book {
    background-color: #DBE8D8;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: grid;
    align-items: center;
    padding-left: 10px;
    border-left: 8px solid burlywood;
    box-shadow: 5px 5px 10px 0px #ced3da;
}

.book-title {
    font-weight: bold;
    font-size: 20px;
}

.author {
    font-size: 17px;
}

.pages {
    font-size: 17px;
}

.book .read {
    background-color: green;
    border: 2px solid black;
    width: 100px;
}

.book .remove {
    width: 100px;
    border: 2px solid black;
    background-color: red;
}

dialog {
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(185, 183, 189, 0.9); 
    padding: 20px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
}

.form {
    /* display: grid;
    grid-template: 20% 60% 20% / 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.form-heading {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
} 

.form-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formID {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formID label {
    font-size: 20px;
}

.formID input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    font-size: 17px;
    padding-left: 10px;
}

.submit {
    width: 120px;
    height: 50px;
    border-radius:20px;
} 




